<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <title><%= title %></title>
    <script>
        const changeLanguage = async (lang) => {
            try {
                const res = await fetch(`/change-language/${lang}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const data = await res.json();
                const { status } = data;

                if (status !== 200) {
                    throw new Error('Error changing language');
                }

                window.location.reload();
            } catch (error) {
                console.log(error);
            }
        }
    </script>
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <button onclick="changeLanguage('es')">Español</button>
    <button onclick="changeLanguage('en')">English</button>
</body>
</html>