<form action="/" method="POST">
  <div class="w-[80%] m-auto sm:w-[40%]">
    <div class="mt-2 rounded-md shadow-sm flex gap-5">
      <input
        type="number"
        name="year"
        id="year"
        class="block w-full rounded-md border-0 py-1.5 px-7 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        placeholder="<%= language.content.search.placeholder %>"
        min="0"
        max="2024"
      />
      <button
        type="submit"
        class="bg-blue-600 rounded-lg text-gray-100 p-3 shadow-lg"
      >
        <%= language.content.search.button %>
      </button>
    </div>
  </div>
</form>
