<%- include('layouts/main.ejs') %>

<section class="flex flex-col gap-12 mt-12">
  <h1 class="text-4xl text-center">Lorem ipsum dolor sit amet.</h1>
  <% if (year) { %>
    <h2><%= year %></h2>
  <% } %>
  
  
  <p class="w-[40%] m-auto">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum at maxime
    quisquam debitis, voluptates alias ratione natus dolorum quibusdam ullam!
  </p>
  <form action="/" method="POST">
    <div class="w-[80%] m-auto sm:w-[40%]">
      <label
        for="year"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Consigne acá para multiplicar tu plata</label
      >
      <div class="mt-2 rounded-md shadow-sm flex gap-5">
        <input
          type="text"
          name="year"
          id="year"
          class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="1999"
        />
        <button
          type="submit"
          class="bg-blue-600 rounded-lg text-gray-100 p-3 shadow-lg"
        >
          Search
        </button>
      </div>
    </div>
  </form>
</section>
