<%- include('layouts/main.ejs') %>

<section>
    <p>Bienvenido a la página de inicio</p>
    <p> <%= lang %> </p>
    <h1 class="text-4xl font-bold underline bg-red-600">
        Hello world! oe
      </h1>
</section>